table {
    width: auto !important;
    white-space: nowrap;
    border: 1px solid black !important;
}
th {
    color: black;
    border: 1px solid black !important;
}
td {
    color: black;
    border: 1px solid black !important;
}
body {
    color: black;
}
thead {
    background-color: grey;
}
